

/***********GENERAL***********************/  
body{
  padding: 0; 
  margin: 0;
}
h1, h2, h3{
  text-align: center;
}

 .imgCenter{
   display: block;
   margin: 0 auto;
 }
a:hover {
  text-decoration: none;
}

.wrapper{
  max-width: 80%;
  margin: auto;
}

.title {
  padding: 1rem;
  font-size: 4rem;
}

/*--------------HOME-----------------*/
#home{
  margin: auto; 
  background: #c77965;
  padding-bottom: 2%;
}
#logo{
  display: inline-block;
}

.title1{
  font-size: 40px;
  font-weight: 700;
}





/*------------VAD ERBUJDER VI------------*/
#services{
  background-color: #fff;
}







/*------------VAD VI HAR GJORT-----------*/







/*---------VAD ERBjuDER VI---------------*/

.portfolio-item {
  border: 4px solid #DC9447;
  background: transparent url('../img/dammy.jpg') no-repeat center 1%;
  height: 200px;
  width: 100%;
  display: inline-block;
  transition: background .2s;
  -webkit-transtion: background .2s;
}

.portfolio-item:hover {
  background: #DC9447;
}

.portfolio-item p {
  display: none;
  color: white;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 3rem;
}

.portfolio-item:hover p {
  display: block;
}



/*--------------KONTAKTA OSS-----------------*/
   
.row{
  margin-top:20px
}
.personalPic{
  width:150px;
  height:200px;
  border: solid 2px #73AD21;
}
.box{
  margin-top: 10px;
  width: 150px;
  height: 40px;
  
  background-color:#247D7A ;
}
.line{
  width: 100%;
  height: 1px;
  background-color:black;
  }






/*-------------FOOTER-------------------------*/
.footer-custom{
  background-color: #247D7A;
}

.footer-custom a{
  color: #fff;
}

.footer-custom a:hover{
  color: #247D7A;
  background: #fff;
}





/*---------------NAV---------------------------*/
.navbar-custom{
  color:#FFF;
}
.navbar-custom a{
  color: #fff;
}

.navbar-custom a:hover{
  color: chocolate;
}




/*------- Screen size ----------------*/
@media all and (max-width: 1200px) {  
  
  }

@media all and (max-width: 768px) {  

}

@media (min-width:481px) {


} 




