

/***********GENERAL***********************/  
a:hover {
  text-decoration: none;
}

 


/*--------------HOME-----------------*/







/*------------VAD ERBUJDER VI------------*/







/*------------VAD VI HAR GJORT-----------*/







/*---------VAD ERBUJDER VI---------------*/

.portfolio-item {
  border: 4px solid #DC9447;
  background: transparent url('../img/dammy.jpg') no-repeat center 1%;
  height: 200px;
  width: 100%;
  display: inline-block;
  transition: background .2s;
  -webkit-transtion: background .2s;
}

.portfolio-item:hover {
  background: #DC9447;
}

.portfolio-item p {
  display: none;
  color: white;
}

.portfolio-item:hover p {
  display: block;
}



/*--------------KONTAKTA OSS-----------------*/







/*-------------FOOTER-------------------------*/







/*---------------NAV---------------------------*/






/*------- Screen size ----------------*/
@media all and (max-width: 1200px) {  
  
  }

@media all and (max-width: 768px) {  

}

@media (min-width:481px) {


} 




