

/***********GENERAL***********************/  
body{
  padding: 0; 
  margin: 0;
}
h1, h2, h3{
  text-align: center;
}

 .imgCenter{
   display: block;
   margin: 0 auto;
 }

.wrapper{
  max-width: 80%;
  margin: auto;
}

/*--------------HOME-----------------*/
#home{
  margin: auto; 
  background: #c77965;
  padding-bottom: 2%;
}






/*------------VAD ERBUJDER VI------------*/
#services{
  background-color: #fff;
}







/*------------VAD VI HAR GJORT-----------*/







/*---------VAD ERBUJDER VI---------------*/






/*--------------KONTAKTA OSS-----------------*/







/*-------------FOOTER-------------------------*/







/*---------------NAV---------------------------*/
.navbar-cusstom{
  color: red;
  background-color: #c77965;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #fff;  /*Sets the text hover color on navbar*/color: #2B5478;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #fff; /*BACKGROUND color for active*/
background-color: #247D7A;
}

  .navbar-default {
    background-color: #c77965;
    border-color: #c77965;
}

  .dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
    color: #fff;
   text-decoration: none;
  background-color: #c77965;  /*change color of links in drop down here*/
   }

 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: #c77965; /*Change rollover cell color here*/
  }


  .navbar-default .navbar-nav > li > a {
   color: #c77965; /*Change active text color here*/
    }





/*------- Screen size ----------------*/
@media all and (max-width: 1200px) {  
  
  }

@media all and (max-width: 768px) {  

}

@media (min-width:481px) {


} 




